<div id="enterZipCodeView" class="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Enter your Zip code</h3>
        </div>
        <div class="modal-body">
            <form class="form-inline" name="zipCodeFrm" novalidate>

                <!--<input type="text" name="zip" placeholder="Enter your zip code" required ng-pattern="/^\d{5,6}$/" ng-model="zipCode">-->

                <select ng-model="zipCode.regiones" name="regiones" required ng-options="region.nombre for region in regiones" ng-init="zipCode.regiones = regiones[14]" class="form-control">
                    <option value="">Selecciona tu región</option>
                </select>

                <select ng-model="zipCode.comunas" name="comunas" required ng-options="comuna.nombre for comuna in zipCode.regiones.comunas" ng-init="zipCode.comunas = zipCode.regiones.comunas[0]" class="form-control">
                    <option value="">Selecciona tu comuna</option>
                </select>


                <input type="submit" class="btn btn-primary" value="Buscar" ng-disabled="zipCodeFrm.$invalid" ng-click="sendZip(zipCode)">
            </form>
        </div>
        <div class="modal-footer">
            <p class="text-left text-success" ng-show="!zipCodeFrm.$invalid" ng-cloak>Zip code is valid</p>   
        </div>
    </div>
    <div class="modal-backdrop light fade in"></div>
</div>